DATABASE_URL="postgresql://postgres:example@localhost:5123/db-name"

PORT=1234

APP_URL="http://localhost:1234"

FRONTEND_URL="http://localhost:2345"


JWT_ACCESS_TOKEN_SECRET="enter yours"
JWT_PASSWORD_RESET_TOKEN_SECRET="siisdj9"


RESEND_API_KEY="go get yours"

RESEND_FROM_EMAIL="Add yours too"

POLAR_API_KEY="polar_oat_go_get_yours"

POLAR_ORG_ID="the organization id"