DATABASE_URL="postgresql://postgres:example@localhost:5123/db-name"

PORT=1234

APP_URL="http://localhost:1234"

JWT_ACCESS_TOKEN_SECRET="enter yours"

RESEND_API_KEY="go get yours"

RESEND_FROM_EMAIL="Add yours too"